h1.title {
    color: #325d72;
    margin: auto;
    width: 90%;
    max-width: 750px;
    padding: 0;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    text-align: center;
    margin-bottom: 32px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "museo-slab", "Charter","Georgia",serif;;
}

body {
    background-image: url("../images/white-linen.png");
    background-repeat: repeat;
    margin: 0;
    font-size: 18px;
    font-family: "museo-sans", sans-serif;
}

body a {
    color: #4183c4;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body article{
    color: #242424;
    background-color: #fefefe;
    margin: 2em auto;
    padding: 2em;
    min-width: 25em;
    max-width: 44em;
}

section{
    margin: 0 2em 1.5em 2em;
}

